.card {
  background: peachpuff;
  border-radius: 2px;
  height: 200px;
  width: 250px;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px palevioletred, 0 3px 6px coral;
  text-align: center;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:peachpuff;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

img:hover {
  cursor: pointer;
}
